<body class="bg-gray-200 flex-col flex justify-center items-center pt-64 pb-32 font-poppins">
    <section class="bg-white shadow-md w-3/5 rounded-2xl flex-col items-center px-8 py-8 relative mb-6">
        <div class="absolute right-8 top-8 flex space-x-4">
            <button class="text-center text-lg font-normal flex hover border border-green-600 rounded-full py-2 px-3 hover:bg-green-400 hover:text-white"
            *ngIf="isOwner()"
            [routerLink]="['/new-propertie']">
            Agregar propiedad
            </button>
            <button class="text-center text-lg font-normal flex hover border border-green-600 rounded-full py-2 px-3 hover:bg-green-400 hover:text-white"
                [routerLink]="['/edit-profile']">
                <span class="material-icons mr-2">edit</span>
                Editar perfil
            </button>
        </div>
        <div class="flex space-x-8 items-center mb-12">
            <img
            [src]="profilePicture || 'https://qqdcadtuucupjusnjpxh.supabase.co/storage/v1/object/public/web/images/sin%20perfil.jpeg'" 
            alt="Foto de Perfil"
            width="150"
            height="150"
            class="rounded-full">
            <div>
                <h2 class="text-3xl font-medium">{{userName}}</h2>
                <p class="text-gray-500 text-xl">{{email}}</p>
            </div>
        </div>
        <div class="">
            <h3 class="font-normal text-2xl mb-3">Biografía</h3>
            <p class="text-gray-500 text-lg">{{biography}}</p>
        </div>
    </section>
    <h1 *ngIf="isOwner()" class="text-3xl font-semibold">Tus propiedades</h1>
    <section *ngIf="isOwner()" class=" bg-gray-200 w-3/5 rounded-2xl flex-col items-center px-8 py-8 relative">
        <div *ngFor="let propertie of properties" class="w-full mb-5">
            <section class="bg-white shadow-md w-full rounded-2xl px-4 py-3 space-x-4 relative flex">
            <div>
                <img *ngIf="propertie.principalPhoto" [src]="propertie.principalPhoto" alt="Principal Photo" width="350" height="350"/>
            </div>
            <div>
                <h2 class="text-xl font-normal mb-4">{{ propertie.title }}</h2>
                <p class="text-gray-500 text-base font-light mb-4">Ubicación: {{ propertie.location }}</p>
                <p class="text-green-600 text-lg font-semibold">${{ propertie.price }} /noche</p>
            </div>
            <button class="absolute right-8 bottom-8 text-center text-lg font-normal flex hover border border-green-600 rounded-full py-2 px-3 hover:bg-green-400 hover:text-white"
            (click)="setPropertie(propertie)">
            Editar
            </button>
            </section>
        </div>
    </section>
</body>