<header>
    <nav class="fixed bg-white w-full z-50">
        <section [ngClass]="isLoggedIn() ? 'gap-48' : 'gap-64'"
        class="flex items-center text-xl font-medium font-poppins px-14 pt-10 pb-6 ">
            <img [routerLink] = "['/home']"
            class="cursor-pointer"
            src="https://qqdcadtuucupjusnjpxh.supabase.co/storage/v1/object/public/web/images/logo%20aircnc.png" 
            alt="imagen AirCNC" 
            width="150" 
            height="60">
            <ol class="flex gap-12">
                <li class="cursor-pointer">Política de privacidad</li>
                <li class="cursor-pointer" [routerLink]="['/search-properties']">Propiedades</li>
                <li class="cursor-pointer">Contacto</li>
                <li class="cursor-pointer">Sobre nosotros</li>
            </ol>
            <div class="flex gap-6" 
            *ngIf="isLoggedIn(); else notLoggedIn">
                <button class="border-2 border-green-600 text-green-600 items-center justify-center p-3 rounded-md hover:bg-green-400 hover:text-white"
                [routerLink]="['/profile']">
                Perfil</button>
                <button class="border-2 border-green-600 text-green-600 items-center justify-center p-3 rounded-md hover:bg-green-400 hover:text-white"
                (click)="onLogout()">
                Cerrar sesión</button>
            </div>
            <ng-template #notLoggedIn>
                <button class="border-2 border-green-600 text-green-600 items-center justify-center p-3 rounded-md hover:bg-green-400 hover:text-white"
                    [routerLink]="['/sign-in']">
                  Iniciar Sesión
                </button>
              </ng-template>
        </section>
    </nav>
</header>
