<body class="bg-gray-200 flex justify-center items-center pt-64 pb-32 font-poppins">
    <div class="bg-white shadow-md w-96 rounded-2xl flex-col items-center px-8 py-8">
        <h1 class="text-2xl font-poppins font-semibold mb-6 text-center">Crear Cuenta</h1>
        <form class="flex-col" [formGroup]="signUpForm">
            <div class="mb-4">
                <label for="name" class="text-base font-light">Nombre de usuario</label>
                <input class="p-2 border border-gray-300 w-full rounded-md focus:outline-none focus:border-green-600"
                type="text" 
                id="name" 
                formControlName="userName" 
                placeholder="Tu nombre de usuario" required>
            </div>
            <div class="mb-4">
                <label for="email" class="text-base font-light">Correo Electrónico</label>
                <input class="p-2 border border-gray-300 w-full rounded-md focus:outline-none focus:border-green-600"
                id="email" 
                formControlName="email" 
                placeholder="tuemail@example.com" required>
            </div>
            <div class="mb-4">
                <label for="password" class="text-base font-light">Contraseña</label>
                <input class="p-2 border border-gray-300 w-full rounded-md focus:outline-none focus:border-green-600"
                type="password" 
                id="password" 
                formControlName="password" 
                placeholder="Contraseña" required>
            </div>
            <div class="mb-4">
                <label for="confirm-password" class="text-base font-light">Confirmar Contraseña</label>
                <input class="p-2 border border-gray-300 w-full rounded-md focus:outline-none focus:border-green-600"
                type="password" 
                id="confirm-password" 
                formControlName="rePassword" 
                placeholder="********" required>
            </div>
            <div class="mb-4">
                <label for="role" class="text-base font-light">Tipo de Usuario</label>
                <select class="p-2 border border-gray-300 w-full rounded-md focus:outline-none focus:border-green-600"
                id="role" 
                formControlName="role" required>
                    <option value="user">Usuario</option>
                    <option value="owner">Propietario</option>
                </select>
            </div>
            <button (click)="onSignUp()" class="w-full py-2 bg-green-700 text-white font-semibold rounded-lg hover:bg-green-800 transition duration-200">Registrarse</button>
        </form>
        <p class="mt-4 text-center text-gray-600">
            ¿Ya tienes una cuenta? 
            <a [routerLink]="['/sign-in']" class="text-green-700 hover:underline">Inicia sesión aquí</a>
        </p>
    </div>
</body>