<footer class="px-12 pb-16 pt-12 bg-white">
    <section class="flex font-poppins space-x-56">
        <div class="flex-col">
            <img src="https://qqdcadtuucupjusnjpxh.supabase.co/storage/v1/object/public/profile-pictures/images/logo%20aircnc.png" 
            alt="Logo AirCNC"
            width="120"
            height="50">
            <p class="text-gray-400 text-xl mt-6">
                <span>
                Encuentra tu lugar perfecto en</span><br>
                <span>
                AirCNC
                </span>
            </p>
        </div>
        <div class="flex-col text-gray-400 text-xl space-y-4">
            <p class="text-2xl font-semibold text-black">AirCNC</p>
            <p>Inicio</p>
            <p>Populares</p>
            <p>Galería</p>
            <p>Testimonios</p>
            <p>PQRS</p>
        </div>
        <div class="flex-col text-gray-400 text-xl space-y-4">
            <p class="text-2xl font-semibold text-black">Landing</p>
            <p>App movil</p>
            <p>Propiedades</p>
            <p>Web personal</p>
            <p>Web desarrollador</p>
        </div>
        <div class="flex-col text-gray-400 text-xl space-y-4">
            <p class="text-2xl font-semibold text-black">Utilidades</p>
            <p>PQRS</p>
            <p>Terminos y condiciones</p>
        </div>
    </section>
</footer>